@use '../../media' as media;

.header-footer {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 1rem;
  white-space: nowrap;
  align-items: center;

  &__menu {
    &-list {
      font-family: sans-serif;
      font-weight: var(--font-weight-regular);
      font-size: .8125rem;
      display: flex;
      justify-content: flex-start;
      margin: 0;
    }

    &-item {
      align-items: center;
      border-left: 1px solid hsla(0, 0%, 100%, .15);
      border-right: 1px solid hsla(0, 0%, 100%, .15);
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 4px 48px 32px;
      width: auto;
      transition: all .15s ease-in-out;

      &-icon {
        width: 18px;
        height: 18px;
      }

      & span {
        margin-bottom: 10px;
      }

      &--link {
        column-gap: 7px;

        & span {
          text-decoration: underline;
          margin-bottom: 10px;
        }

        @include media.hover {
          transition: all .15s ease-in-out;
          color: var(--color-red);
        }

        &:hover svg {
          transform: scale(1.1) translateZ(0);
        }
      }
    }

    &-address {
      &-list {
        font-family: Roboto ,sans-serif;
        font-size: 13px;
        font-weight: 400;
        max-width: 289px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
      }

      &-item {
        line-height: 1.3em;
        margin-bottom: 8px;
        word-wrap: break-word; /* Обеспечивает перенос длинных слов */
        overflow-wrap: break-word; /* Дополнительное свойство для переноса текста */
        white-space: normal; /* Убедитесь, что текст переносится */
      }
    }
  }

  &__social {
    &-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 32px 40px 32px;
      gap: 24px;
    }

    &-item {
      height: 32px;
      width: 32px;
      padding: 0;

      &-icon {
        width: 32px;
        height: 32px;

        @include media.mobile {
          width: 28px;
          height: 28px;
        }

        @include media.hover {
          fill: var(--color-red);
          color:var(--color-red);
        }
      }
    }
  }

  &__contact {
    &-list {
      display: flex;
      flex-direction: row;
      border-left: 1px solid hsla(0, 0%, 100%, .15);
      align-items: center;
      padding-bottom: 33px;
      padding-left: 32px;
      gap: 24px;
    }

    &-icon {
      width: 32px;
      height: 32px;

      @include media.mobile {
        width: 28px;
        height: 28px;
      }

    }
  }
}

/* Стили для каждой иконки */
.header-footer__social-item-icon {
  transition: fill 0.3s ease, stroke 0.3s ease; /* Добавление плавного перехода для цвета */
}

/* Стиль для изменения цвета иконки на красный при наведении */
.header-footer__social-item-icon:hover .icon-path-stroke {
  stroke: red !important; /* Изменение обводки иконки на красный */
}

.header-footer__social-item-icon:hover .icon-path-fill {
  fill: red !important; /* Изменение заливки на красный */
}