@use '../../media' as media;
@use '../../animations';

.header {
  margin-bottom: 96px;
  position: relative;

  &__logo {
    margin-top: 8px;
    width: 64px;
    height: 64px;
    align-items: center;
    display: flex;
  }

  &__inner {
    display: flex;
    align-items: center;
    column-gap: 16px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    min-height: 122px;
    position: relative;
    z-index: 997;
  }

  &__menu {
    margin-top: 6px;
    white-space: nowrap;
    padding: 0 48px 0 48px;
    border-left: 1px solid hsla(0, 0%, 100%, .1);
    border-right: 1px solid hsla(0, 0%, 100%, .1);

    &-list {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      column-gap: 49px;
    }

    &-item {
      position: relative;

      // Полоска снизу
      &::after {
        content: "";
        position: absolute;
        top: 144%; /* Расположение полоски */
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, #ca131a, #920b10);
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }

      // Показываем полоску при наведении на пункт меню
      &:hover::after {
        opacity: 1;
      }

      // Показ подменю при hover
      &:hover .header__menu__sublist {
        opacity: 1;
        visibility: visible;
        top: 0;
      }
    }

    // Подменю
    &__sublist {
      display: flex;
      flex-direction: row;
      overflow: hidden;
      background: var(--color-red-dark);
      transition: all .15s linear;
      list-style-type: none;
      box-sizing: border-box;
      //justify-content: center;
      justify-content: flex-start;
      position: fixed;
      width: 100%;
      left: 0;
      right: 0;
      padding: 164px 70px 54px;
      max-width: 100%;
      z-index: -1;
      visibility: hidden;
      top: -100%;
      opacity: 0;
      //opacity: 1;
      //visibility: visible;
      //top: 0;

      &::before {
        content: "";
        flex: 0 0 100%;
        max-width: calc((100% - var(--container-width-max)) / 2);
        width: 100%;
      }
      &::after {
        content: "";
        flex: 0 0 100%;
        max-width: calc((100% - var(--container-width-max)) / 2);
        width: 100%;
      }

      &-section {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: flex-start;
        justify-content: flex-start;

        // Базовый отступ для всех секций
        padding-top: 3px;
        padding-right: 56px;
        margin-right: 56px;

        // Задаём уникальные отступы для каждой секции
        &:nth-child(1) {
          padding-top: 6px;
        }
      }

      &-section:not(:last-child) {
        border-right: 1px solid hsla(0, 0%, 100%, .1);
      }

      &-title {
        color: #a3a3a3;
        display: block;
        font-size: .75rem;
        font-weight: 400;
        margin-bottom: 24px;
      }

      &-links {
        font-size: 1rem;
      }

      &-item {
        color: #fff;
        font-size: 1.0625rem;
        font-weight: 500;
        line-height: 1.2em;
        font-family: sans-serif;
        margin-bottom: 12px;
      }

      &-link {
        color: #fff;
        font-size: 1.0625rem;
        font-weight: 500;
        line-height: 1em;
      }
    }


    &-link {
      display: inline-flex;
      align-items: center;
      height: 60px;
      position: relative;
      color: var(--color-white);
      font-size: 1.25rem;
      font-weight: var(--font-weight-bold);
      font-family: "new-BebasNeue-Bold", sans-serif;
    }

    &-sublist {
      display: flex;
    }

    &-right {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-wrap: nowrap;
      column-gap: 30px;
      color: var(--color-white);
      margin-top: 10px;
      font-weight: var(--font-weight-bold);
      font-family: "new-BebasNeue-Bold", sans-serif;

      &-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 4px;

        .icon__image {
          color: #fff;
          width: 44px;
          height: 45px;
        }

        &__counter {

        }
      }
    }

    &-contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-weight: var(--font-weight-bold);
      font-family: "new-BebasNeue-Bold", sans-serif;
      white-space: nowrap;
    }
  }

  &__services {
    display: flex;
    flex-direction: column;

    &-title {
      line-height: 23px;
    }

    &-phone {
      color: #fff;
      font-weight: var(--font-weight-bold);
      font-family: "new-BebasNeue-Bold", sans-serif;
      font-size: 1.75rem;
      line-height: 30px;
    }

    &-description {
      color: #a3a3a3;
      text-transform: none;
      transition: all .15s ease-in-out;
      white-space: nowrap;
      font-family: sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 0.75rem;
    }
  }
}


//@use '../../media' as media;
//@use '../../animations';
//
//
//@keyframes showSubmenuItem {
//  0% {
//    opacity: 0;
//    transform: translateY(-10px);
//  }
//  100% {
//    opacity: 1;
//    transform: translateY(0);
//  }
//}
///* Определение анимации */
//@keyframes fadeInUp {
//  from {
//    opacity: 0;
//    transform: translateY(10px); /* Элемент начинается с небольшим сдвигом вниз */
//  }
//  to {
//    opacity: 1;
//    transform: translateY(0); /* Элемент возвращается в начальное положение */
//  }
//}
//
//
//.header {
//  margin-bottom: 96px;
//  position: relative;
//
//  &__logo {
//    margin-top: 8px;
//    width: 64px;
//    height: 64px;
//    align-items: center;
//    display: flex;
//  }
//
//  &__inner {
//    display: flex;
//    align-items: center;
//    column-gap: 16px;
//    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
//    min-height: 122px;
//    position: relative;
//    z-index: 997;
//  }
//
//  &__menu {
//    margin-top: 6px;
//    white-space: nowrap;
//    padding: 0 48px 0 48px;
//    border-left: 1px solid hsla(0, 0%, 100%, .1);
//    border-right: 1px solid hsla(0, 0%, 100%, .1);
//
//    &-list {
//      display: flex;
//      flex-wrap: nowrap;
//      align-items: center;
//      column-gap: 49px;
//    }
//
//    &-item {
//      position: relative;
//
//      // Полоска снизу
//      &::after {
//        content: "";
//        position: absolute;
//        top: 144%; /* Расположение полоски */
//        left: 0;
//        width: 100%;
//        height: 2px;
//        background: linear-gradient(270deg, #ca131a, #920b10);
//        opacity: 0;
//        transition: opacity 0.2s ease-in-out;
//      }
//
//      // Показываем полоску при наведении на пункт меню
//      &:hover::after {
//        opacity: 1;
//      }
//
//      // Показ подменю при hover
//      &:hover .header__menu__sublist {
//        opacity: 1;
//        visibility: visible;
//        top: 0;
//      }
//    }
//
//    // Подменю
//    &__sublist {
//      display: flex;
//      flex-direction: row;
//      overflow: hidden;
//      background: var(--color-red-dark);
//      transition: all .15s linear;
//      list-style-type: none;
//      box-sizing: border-box;
//      justify-content: center;
//      position: fixed;
//      width: 100%;
//      left: 0;
//      right: 0;
//      padding: 164px 70px 54px;
//      z-index: -1;
//      visibility: hidden;
//      top: -100%;
//      opacity: 0;
//
//      &-section {
//        display: flex;
//        flex-direction: column;
//        width: auto;
//        align-items: flex-start;
//        justify-content: flex-start;
//
//        // Базовый отступ для всех секций
//        padding-right: 63px;
//        margin-right: 55px;
//
//        // Задаём уникальные отступы для каждой секции
//        &:nth-child(1) {
//          padding-top: 6px;
//          padding-right: 33px;
//        }
//      }
//
//      &-section:not(:last-child) {
//        border-right: 1px solid hsla(0, 0%, 100%, .1);
//      }
//
//      &-title {
//        color: #a3a3a3;
//        display: block;
//        font-size: .75rem;
//        font-weight: 400;
//        margin-bottom: 24px;
//      }
//
//      &-links {
//        font-size: 1rem;
//        display: flex;
//        flex-direction: column;
//        flex-wrap: nowrap;
//      }
//
//      &-item {
//        color: #fff;
//        font-size: 1.0625rem;
//        font-weight: 500;
//        line-height: 1.2em;
//        font-family: sans-serif;
//        margin-bottom: 12px;
//        opacity: 0;
//      }
//
//      &-link {
//        color: #fff;
//        font-size: 1.0625rem;
//        font-weight: 500;
//        line-height: 1em;
//      }
//
//      &::before {
//        content: "";
//        background: var(--color-red-dark);
//      }
//    }
//
//    &-link {
//      display: inline-flex;
//      align-items: center;
//      height: 60px;
//      position: relative;
//      color: var(--color-white);
//      font-size: 1.25rem;
//      font-weight: var(--font-weight-bold);
//      font-family: "new-BebasNeue-Bold", sans-serif;
//    }
//
//    &-sublist {
//      display: flex;
//    }
//
//    &-right {
//      display: flex;
//      align-items: center;
//      align-content: center;
//      justify-content: center;
//      flex-wrap: nowrap;
//      column-gap: 30px;
//      color: var(--color-white);
//      margin-top: 10px;
//      font-weight: var(--font-weight-bold);
//      font-family: "new-BebasNeue-Bold", sans-serif;
//
//      &-icons {
//        display: flex;
//        align-items: center;
//        justify-content: center;
//        flex-direction: row;
//        flex-wrap: nowrap;
//        column-gap: 4px;
//
//        .icon__image {
//          color: #fff;
//          width: 44px;
//          height: 45px;
//        }
//      }
//    }
//
//    &-contacts {
//      display: flex;
//      flex-direction: column;
//      align-items: flex-end;
//      font-weight: var(--font-weight-bold);
//      font-family: "new-BebasNeue-Bold", sans-serif;
//      white-space: nowrap;
//    }
//  }
//
//  &__services {
//    display: flex;
//    flex-direction: column;
//
//    &-title {
//      line-height: 23px;
//    }
//
//    &-phone {
//      color: #fff;
//      font-weight: var(--font-weight-bold);
//      font-family: "new-BebasNeue-Bold", sans-serif;
//      font-size: 1.75rem;
//      line-height: 30px;
//    }
//
//    &-description {
//      color: #a3a3a3;
//      text-transform: none;
//      transition: all .15s ease-in-out;
//      white-space: nowrap;
//      font-family: sans-serif;
//      font-weight: 300;
//      font-style: normal;
//      font-size: 0.75rem;
//    }
//  }
//}
