@use '../../media' as media;

.header {
  margin-bottom: 96px;

  &__logo {
    margin-top: 8px;
    width: 64px;
    height: 64px;
    align-items: center;
    display: flex;
  }

  &__inner {
    display: flex;
    align-items: center;
    column-gap: 16px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    min-height: 122px;
  }

  &__menu {
    margin-top: 6px;
    white-space: nowrap;
    padding: 0 48px 0 48px;
    border-left: 1px solid hsla(0, 0%, 100%, .1);
    border-right: 1px solid hsla(0, 0%, 100%, .1);

    &-list {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      column-gap: 49px;
    }

    //&-item {
    //  position: relative;
    //
    //  @include media.hover {
    //    &:hover::after {
    //      opacity: 1;
    //      transition: opacity 0.2s ease-in-out;
    //    }
    //  }
    //
    //  &::after {
    //    content: "";
    //    position: absolute;
    //    top: 144%;
    //    left: 0;
    //    width: 100%;
    //    height: 2px;
    //    background: linear-gradient(270deg, #ca131a, #920b10);
    //    opacity: 0;
    //    transition: opacity 0.2s ease-in-out;
    //  }
    //}
    // Элементы основного меню
    &-item {
      position: relative;

      // Полоска снизу
      &::after {
        content: "";
        position: absolute;
        top: 144%; /* Расположение полоски */
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, #ca131a, #920b10); // Цвет градиента
        opacity: 0; // Скрыта по умолчанию
        transition: opacity 0.2s ease-in-out;
      }

      // Показываем полоску при наведении на пункт меню
      &:hover::after {
        opacity: 1;
      }

      // Показ подменю при hover
      &:hover &__sublist {
        opacity: 1;
        visibility: visible;
        transform: translateY(0); /* Восстанавливаем подменю на прежнюю позицию */
      }
    }

    // Подменю
    &__sublist {
      //position: absolute;
      //top: 100%; /* Вылезаем прямо под основным пунктом */
      //left: 0;
      //width: 100%;
      display: flex;
      flex-direction: row;
      //opacity: 0;  /* Изначально скрыто */
      //visibility: hidden;  /* Не отображается */
      //transform: translateY(10px);  /* Сдвигаем вниз, пока не ховерим */
      background: var(--color-red-dark);
      //padding: 10px 0;
      z-index: 10;
      //transition: all .15s linear;
      //height: auto;
      list-style-type: none;
      box-sizing: border-box;

      //===
      height: 0;
      justify-content: flex-start;
      position: fixed;
      //left: 0;
      //top: 0;
      transform: translate3d(0, -100%, 0);
      transition: all .15s linear;
      width: 100%;

      &-section {
        border-right: 1px solid hsla(0, 0%, 100%, .1);
        display: flex;
        flex-direction: column;
        width: auto;
      }

      &-section:not(:last-child) {
        padding-right: 56px;
        margin-right: 56px;
      }

      &-item {
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1em;
        font-family: sans-serif;
      }
    }





    &-link {
      display: inline-flex;
      align-items: center;
      height: 60px;
      position: relative;
      color: var(--color-white);
      font-size: 1.25rem;
      font-weight: var(--font-weight-bold);
      font-family: "new-BebasNeue-Bold", sans-serif;
    }

    // sublist
    &-sublist {
      display: flex;
    }

    &-right {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-wrap: nowrap;
      column-gap: 30px;
      color: var(--color-white);
      margin-top: 10px;
      font-weight: var(--font-weight-bold);
      font-family: "new-BebasNeue-Bold", sans-serif;

      &-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 4px;

        .icon__image {
          color: #fff;
          width: 44px;
          height: 45px;
        }
      }
    }

    &-contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-weight: var(--font-weight-bold);
      font-family: "new-BebasNeue-Bold", sans-serif;
      white-space: nowrap;
    }
  }

  &__services {
    display: flex;
    flex-direction: column;

    &-title {
      line-height: 23px;
    }

    &-phone {
      color: #fff;
      font-weight: var(--font-weight-bold);
      font-family: "new-BebasNeue-Bold", sans-serif;
      font-size: 1.75rem;
      line-height: 30px;
    }

    &-description {
      color: #a3a3a3;
      text-transform: none;
      transition: all .15s ease-in-out;
      white-space: nowrap;
      font-family: sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 0.75rem;
    }
  }
}
