.main-header {
  background: url("../../../images/first-desktop.jpg") 50% / cover no-repeat;;
  background-size: cover;
  padding-bottom: 48px;
  --main-content-width: 400px;
  --button-link-size: 19px;
}
