/* Анимация для открытия мобильной модалки */
@keyframes showDownTop {
  0% {
    opacity: 1;
    transform: translate3d(0, 100%, 0); /* снизу */
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Анимация для закрытия мобильной модалки  */
@keyframes hideDownTop {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0); /* Начальное положение */
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 100%, 0); /* исчезновение */
  }
}

//Анимация показа текста снизу - вверх
@keyframes listItemAppear {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

//Анимация показа текста сверху - вниз
@keyframes textAppear {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
