@use 'media';

.container {
  display: flex;
  max-width: 1200px;
  margin-inline: auto;

  @include media.tablet {
    max-width: var(--container-lg);
    border-bottom: none;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 0;
  }

  @include media.mobile-l {
    max-width: var(--container-xs);
  }
  @include media.mobile-s {
    padding-bottom: 92px;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.hidden-mobile-l {
  @include media.mobile-l {
    display: none !important;
  }
}

.hidden-mobile-s {
  @include media.mobile-s {
    display: none !important;
  }
}

.hidden-mobile-below {
  @include media.mobile-below {
    display: none !important;
  }
}

.hidden-tablet {
  @include media.tablet-above {
    display: none !important;
  }
}

.hidden-tablet-below {
  @include media.tablet {
    display: none !important;
  }
}

.visible-mobile {
  @include media.mobile-above {
    display: none !important;
  }
}