:root {
  --font-sans-serif: 'roboto', sans-serif;
  --font-condensed: 'bebas-neue-pro', system-ui, sans-serif;
  --font-condensed-expanded: bebas-neue-pro-semiexpanded, sans-serif;
  --font-title-eng: 'post_no_bills_colombosemibold', 'bebas-neue-pro', sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --color-title: #232323;
  --color-text: #666;
  --color-label: #748494;
  --color-link: #232323;
  --color-gray: rgba(0, 0, 0, .1);
  --color-gray-border: rgba(0, 0, 0, .2);
  --color-gray-light: #f4f4f4;
  --color-white: #FFFFFF;
  --color-gray-background: #f7f7f7;
  --color-red: #c51219;
  --color-red-dark: #1d0b0b;
  --color-disabled-background: #f0f0f0;
  --color-disabled-border: 1px solid #ddd;
  --color-disabled-text: #ddd;
  --color-navigation: var(--color-red-dark);

  --gradient-red: linear-gradient(270deg, #ca131a, #920b10);
  --gradient-green: linear-gradient(270deg, #25d366, #25d366);
  --gradient-blue: #25a2e0;

  --padding-content: 32px;
  --padding-content-xl: 40px;
  --padding-section-right-left: 32px;
  --container-width: calc(100% - 64px*2);

  --line-gray: 1px solid var(--color-gray);

  --container-width-max: 1200px;
  --container-padding: 48px;
  --transition-duration: 0.2s;

  //Удалить
  --container-xs: calc(100% - 32px * 2);
  --container-md: calc(var(--md) - var(--container-padding)* 2);
  --container-lg: calc(var(--lg) - var(--container-padding)* 2);
  --container-xl: calc(var(--xl) - var(--container-padding)* 2);

  --xs-android: 360px;
  --xs-iphone: 375px;
  --xs-iphone-plus: 414px;
  --sm: 568px;
  --md: 100%;
  --lg: 100%;
  --xl: 100%;
  --xxl: 1440px;
  --hd: 1920px;
}