@charset "UTF-8";
.container {
  display: flex;
  max-width: 1200px;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

:root {
  --font-sans-serif: sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --color-title: #232323;
  --color-text: #666;
  --color-label: #748494;
  --color-link: #232323;
  --color-gray: rgba(0, 0, 0, .1);
  --color-gray-border: rgba(0, 0, 0, .2);
  --color-gray-light: #f4f4f4;
  --color-white: #FFFFFF;
  --color-gray-background: #f7f7f7;
  --color-red: #c51219;
  --color-red-dark: #1d0b0b;
  --color-disabled-background: #f0f0f0;
  --color-disabled-border: 1px solid #ddd;
  --color-disabled-text: #ddd;
  --color-navigation: var(--color-red-dark);
  --gradient-red: linear-gradient(270deg, #ca131a, #920b10);
  --gradient-green: linear-gradient(270deg, #25d366, #25d366);
  --gradient-blue: #25a2e0;
  --padding-content: 32px;
  --padding-content-xl: 40px;
  --padding-section-right-left: 32px;
  --line-gray: 1px solid var(--color-gray);
  --container-width-max: 1200px;
  --container-padding: 32px;
  --transition-duration: 0.2s;
}

/** Директивы font дял подключения локальных файлов со шрифтами */
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BebasNeuePro-ExpandedBold";
  src: url("../fonts/BebasNeuePro-ExpandedBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BebasNeuePro-SemiExpBold";
  src: url("../fonts/BebasNeuePro-SemiExpBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-title);
  background-color: var(--color-white);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.main {
  background: url("../../images/header-main.jpg") no-repeat center center;
  background-size: cover;
  padding-bottom: 48px;
  height: 100vh;
}

.header__logo {
  width: 64px;
  height: 64px;
  align-items: center;
  display: flex;
}
.header__inner {
  display: flex;
  align-items: center;
  column-gap: 16px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  min-height: 122px;
}
.header__menu {
  padding: 0 50px;
  border-left: 1px solid hsla(0, 0%, 100%, 0.1);
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
}
.header__menu-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 40px;
}
.header__menu-link {
  display: inline-flex;
  align-items: center;
  height: 60px;
  position: relative;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
  font-family: "BebasNeuePro-SemiExpBold", sans-serif;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  height: 2px;
  background: linear-gradient(270deg, #ca131a, #920b10);
}
.header__menu-right {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  column-gap: 40px;
  color: var(--color-white);
}
.header__menu-right-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-right-icons .icon__image {
  color: #fff;
  width: 48px;
  height: 48px;
}
.header__menu-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "BebasNeuePro-SemiExpBold", sans-serif;
}
.header__services-phone {
  color: #fff;
  font-size: 1.625rem;
}
.header__services-description {
  color: #a3a3a3;
  text-transform: none;
  transition: all 0.15s ease-in-out;
  white-space: nowrap;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 12px;
  font-style: normal;
}

/*# sourceMappingURL=styles.css.map */
