@charset "UTF-8";
.container {
  display: flex;
  max-width: 1200px;
  margin-inline: auto;
}
@media (max-width: 1023px) {
  .container {
    max-width: var(--container-lg);
    border-bottom: none;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 0;
  }
}
@media (max-width: 425px) {
  .container {
    max-width: var(--container-xs);
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (min-width: 768px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (max-width: 425px) {
  .hidden-mobile-l {
    display: none !important;
  }
}

@media (min-width: 425px) {
  .hidden-mobile-l-above {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .hidden-tablet-below {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

:root {
  --font-sans-serif: "roboto", sans-serif;
  --font-condensed: "bebas-neue-pro", system-ui, sans-serif;
  --font-condensed-expanded: bebas-neue-pro-semiexpanded, sans-serif;
  --font-title-eng: "post_no_bills_colombosemibold", "bebas-neue-pro", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --color-title: #232323;
  --color-text: #666;
  --color-label: #748494;
  --color-link: #232323;
  --color-gray: rgba(0, 0, 0, .1);
  --color-gray-border: rgba(0, 0, 0, .2);
  --color-gray-light: #f4f4f4;
  --color-white: #FFFFFF;
  --color-gray-background: #f7f7f7;
  --color-red: #c51219;
  --color-red-dark: #1d0b0b;
  --color-disabled-background: #f0f0f0;
  --color-disabled-border: 1px solid #ddd;
  --color-disabled-text: #ddd;
  --color-navigation: var(--color-red-dark);
  --gradient-red: linear-gradient(270deg, #ca131a, #920b10);
  --gradient-green: linear-gradient(270deg, #25d366, #25d366);
  --gradient-blue: #25a2e0;
  --padding-content: 32px;
  --padding-content-xl: 40px;
  --padding-section-right-left: 32px;
  --line-gray: 1px solid var(--color-gray);
  --container-width-max: 1200px;
  --container-padding: 48px;
  --transition-duration: 0.2s;
  --container-xs: calc(100% - 32px * 2);
  --container-md: calc(var(--md) - var(--container-padding)* 2);
  --container-lg: calc(var(--lg) - var(--container-padding)* 2);
  --container-xl: calc(var(--xl) - var(--container-padding)* 2);
  --xs-android: 360px;
  --xs-iphone: 375px;
  --xs-iphone-plus: 414px;
  --sm: 568px;
  --md: 100%;
  --lg: 100%;
  --xl: 100%;
  --xxl: 1440px;
  --hd: 1920px;
}

/** Директивы font дял подключения локальных файлов со шрифтами */
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BebasNeuePro-ExpandedBold";
  src: url("../fonts/BebasNeuePro-ExpandedBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BebasNeuePro-SemiExpBold";
  src: url("../fonts/BebasNeuePro-SemiExpBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "new-BebasNeue-Regular";
  src: url("../fonts/BebasNeueRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "new-BebasNeue-Book";
  src: url("../fonts/BebasNeueBook.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "new-BebasNeue-Bold";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-title);
  background-color: var(--color-white);
  font-family: sans-serif;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Анимация для открытия мобильной модалки */
@keyframes showDownTop {
  0% {
    opacity: 1;
    transform: translate3d(0, 100%, 0); /* снизу */
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* Анимация для закрытия мобильной модалки  */
@keyframes hideDownTop {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0); /* Начальное положение */
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 100%, 0); /* исчезновение */
  }
}
@keyframes listItemAppear {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes textAppear {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.main-header {
  background: url("../../../images/first-desktop.jpg") 50%/cover no-repeat;
  background-size: cover;
  --main-content-width: 400px;
  --button-link-size: 19px;
}
@media (max-width: 1023px) {
  .main-header {
    background: url("../../../images/first-mobile-landscape.jpg") 50%/cover no-repeat;
    --main-content-width: 292px;
  }
}
@media (max-width: 425px) {
  .main-header {
    background: url("../../../images/first-mobile.jpg") 50%/cover no-repeat;
  }
}

.mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(270deg, #43080a, #260d0e);
  z-index: 1000;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
}

.mobile__menu-list {
  padding-right: 40px;
  padding-left: 25px;
  display: flex;
  margin: 0;
  list-style: none;
  gap: 20px;
  align-items: flex-end;
}
@media (max-width: 375px) {
  .mobile__menu-list {
    gap: 9px;
  }
}
@media (max-width: 320px) {
  .mobile__menu-list {
    gap: 2px;
    padding: 0 12px;
  }
}
.mobile__menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}
.mobile__menu-item:hover {
  background: #444; /* Эффект наведения */
}
.mobile__menu-icon-navigation {
  width: 26px;
}
.mobile__menu-icon-filter {
  width: 26px;
}
.mobile__menu-icon-heart {
  width: 25px;
  height: 24px;
}
.mobile__menu-icon-scales {
  width: 40px;
  height: 30px;
}
.mobile__menu-icon-basket {
  width: 30px;
  height: 37px;
}
.mobile__menu-icon svg {
  fill: white;
}
.mobile__menu-text {
  color: #bdbdbd;
  display: block;
  font-family: new-BebasNeue-Regular, sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.0625rem;
  margin-top: 2px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.mobile__menu-item.active .mobile__menu-text {
  color: #fff; /* Цвет текста для активного элемента */
}

/* Добавим медиазапрос для активации мобильного меню */
@media (max-width: 768px) {
  .mobile-menu {
    display: flex;
  }
}
.burger-button {
  background-color: red;
  padding: 0;
  background-color: transparent;
  border: none;
}

.header {
  margin-bottom: 96px;
  position: relative;
}
@media (max-width: 1023px) {
  .header {
    border-bottom: none;
    flex-flow: row wrap;
    padding-bottom: 0;
    margin-bottom: 76px;
  }
}
@media (max-width: 768px) {
  .header {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .header {
    margin-bottom: 15px;
  }
}
@media (max-width: 425px) {
  .header {
    padding-top: 18px;
    margin-bottom: 31px;
  }
}
.header__logo {
  width: 64px;
  height: 64px;
  align-items: center;
  display: flex;
}
@media (max-width: 1023px) {
  .header__logo {
    margin-top: 0;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .header__logo {
    margin-right: 0;
  }
}
@media (max-width: 425px) {
  .header__logo {
    margin-top: 30px;
    width: 98px;
    height: auto;
  }
}
@media (max-width: 375px) {
  .header__logo {
    margin-top: 18px;
    width: 80px;
  }
}
.header__logo-text {
  color: #fff;
  display: block;
  font-family: "new-BebasNeue-Bold", sans-serif;
  font-size: 1.563rem;
  font-weight: 400;
  margin-top: 4px;
  text-transform: uppercase;
  line-height: 1.3em;
}
@media (max-width: 375px) {
  .header__logo-text {
    margin-top: 4px;
    font-size: 1.22rem;
  }
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  min-height: 122px;
  position: relative;
  z-index: 997;
}
@media (max-width: 1023px) {
  .header__inner {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .header__inner {
    column-gap: 0;
  }
}
@media (max-width: 425px) {
  .header__inner {
    padding: 0;
    border: none;
  }
}
.header__menu {
  margin-top: 6px;
  white-space: nowrap;
  padding: 0 20px 0 20px;
  border-left: 1px solid hsla(0, 0%, 100%, 0.1);
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
}
@media (max-width: 1023px) {
  .header__menu {
    border-left: none;
    border-right: none;
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    margin-right: auto;
    margin-top: 25px;
    order: 2;
    width: 100%;
  }
}
.header__menu-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 40px;
}
@media (max-width: 1023px) {
  .header__menu-list {
    padding-bottom: 24px;
    padding-top: 24px;
    column-gap: 42px;
  }
}
@media (max-width: 768px) {
  .header__menu-list {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .header__menu-list {
    flex-wrap: wrap;
  }
}
.header__menu__social-list {
  display: flex;
  padding-right: 10px;
  gap: 25px;
}
@media (max-width: 425px) {
  .header__menu__social-list {
    margin-top: 28px;
  }
}
@media (max-width: 320px) {
  .header__menu__social-list {
    padding-right: 0;
    gap: 10px;
  }
}
.header__menu-item {
  position: relative;
}
.header__menu-item::after {
  content: "";
  position: absolute;
  top: 144%; /* Расположение полоски */
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, #ca131a, #920b10);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.header__menu-item:hover::after {
  opacity: 1;
}
.header__menu-item:hover .header__menu__sublist {
  opacity: 1;
  visibility: visible;
  top: 0;
}
.header__menu__sublist {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background: var(--color-red-dark);
  transition: all 0.15s linear;
  list-style-type: none;
  box-sizing: border-box;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  padding: 164px 70px 54px;
  max-width: 100%;
  z-index: -1;
  visibility: hidden;
  top: -100%;
  opacity: 0;
}
.header__menu__sublist::before {
  content: "";
  flex: 0 0 100%;
  max-width: calc((100% - var(--container-width-max)) / 2);
  width: 100%;
}
.header__menu__sublist::after {
  content: "";
  flex: 0 0 100%;
  max-width: calc((100% - var(--container-width-max)) / 2);
  width: 100%;
}
.header__menu__sublist-section {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 3px;
  padding-right: 56px;
  margin-right: 56px;
}
.header__menu__sublist-section:nth-child(1) {
  padding-top: 6px;
}
.header__menu__sublist-section:not(:last-child) {
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
}
.header__menu__sublist-title {
  color: #a3a3a3;
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 24px;
}
.header__menu__sublist-links {
  font-size: 1rem;
}
.header__menu__sublist-item {
  color: #fff;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.2em;
  font-family: sans-serif;
  margin-bottom: 12px;
}
.header__menu__sublist-link {
  color: #fff;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1em;
}
.header__menu-link {
  display: inline-flex;
  align-items: center;
  height: 60px;
  position: relative;
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  font-family: "new-BebasNeue-Bold", sans-serif;
}
.header__menu-sublist {
  display: flex;
}
.header__menu-right {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  column-gap: 30px;
  color: var(--color-white);
  margin-top: 10px;
  font-weight: var(--font-weight-bold);
  font-family: "new-BebasNeue-Bold", sans-serif;
}
@media (max-width: 767px) {
  .header__menu-right {
    column-gap: 0;
  }
}
@media (max-width: 1023px) {
  .header__menu-right {
    column-gap: 0;
  }
}
@media (max-width: 375px) {
  .header__menu-right {
    margin-top: 0;
  }
}
.header__menu-right-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
  padding: 0 12px 0 0;
}
@media (max-width: 1023px) {
  .header__menu-right-icons {
    border-right: 1px solid hsla(0, 0%, 100%, 0.1);
    border-left: 1px solid hsla(0, 0%, 100%, 0.1);
    display: flex;
  }
}
.header__menu-right-icons__counter {
  align-items: center;
  background: var(--gradient-red);
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  font-size: 0.625rem;
  font-weight: var(--font-weight-bold);
  justify-content: center;
  min-height: 22px;
  min-width: 22px;
  padding: 0 8px;
  position: absolute;
  transform: translateX(21px);
  transition: all 0.3s ease-in-out;
}
.header__menu-right-icons__counter-basket {
  width: 39px;
  height: 47px;
}
.header__menu-right-icons .icon__image {
  color: #fff;
  width: 44px;
  height: 45px;
}
.header__menu-right-icons:nth-child(3) {
  padding-left: 10px;
}
.header__menu-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: var(--font-weight-bold);
  font-family: "new-BebasNeue-Bold", sans-serif;
  white-space: nowrap;
}
@media (max-width: 1023px) {
  .header__menu-contacts {
    display: flex;
    order: 1;
    padding-left: 24px;
    border-left: 1px solid hsla(0, 0%, 100%, 0.1);
    line-height: 21px;
  }
}
.header__services {
  display: flex;
  flex-direction: column;
}
.header__services-title {
  line-height: 23px;
}
.header__services-phone {
  color: #fff;
  font-weight: var(--font-weight-bold);
  font-family: "new-BebasNeue-Bold", sans-serif;
  font-size: 1.75rem;
  line-height: 30px;
}
.header__services-description {
  color: #a3a3a3;
  text-transform: none;
  transition: all 0.15s ease-in-out;
  white-space: nowrap;
  font-family: sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.75rem;
}

.header__menu-right-icons a:nth-child(3) {
  margin-left: 10px;
}

.header__menu-right-icons a:nth-child(3) .header__menu-right-icons__counter {
  transform: translateX(12px);
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-navigation, #fff);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  justify-content: space-between;
}
.header-fixed.visible {
  transform: translateY(0);
}
@media (max-width: 1023px) {
  .header-fixed .container {
    flex-flow: row;
  }
}
.header-fixed .header__logo {
  margin-top: 0;
}
@media (max-width: 1023px) {
  .header-fixed .header__logo {
    margin-right: 20px;
    order: 1;
  }
}
.header-fixed .header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
}
@media (max-width: 1023px) {
  .header-fixed .header__inner {
    margin-top: 0;
    border-bottom: none;
    min-height: auto;
    padding: 0;
  }
}
@media (max-width: 1023px) {
  .header-fixed .header__inner .header__menu {
    order: 2;
    border-top: none;
    margin-top: 0;
    border-left: 1px solid hsla(0, 0%, 100%, 0.1);
    border-right: 1px solid hsla(0, 0%, 100%, 0.1);
  }
}
@media (max-width: 768px) {
  .header-fixed .header__inner .header__menu {
    padding: 0 10px 0 10px;
  }
}
.header-fixed .header__inner .header__menu-list {
  display: flex;
  gap: 40px;
}
@media (max-width: 1023px) {
  .header-fixed .header__inner .header__menu-list {
    padding-bottom: 0;
    padding-top: 0;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .header-fixed .header__inner .header__menu-list {
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .header-fixed .header__inner .header__menu-list {
    gap: 14px;
  }
}
.header-fixed .header__inner .header__menu-item {
  position: relative;
}
.header-fixed .header__inner .header__menu-item:hover .header__menu__sublist {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.header-fixed .header__inner .header__menu-item:after {
  top: 106%;
}
.header-fixed .header__inner .header__menu-link {
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}
@media (max-width: 1023px) {
  .header-fixed .header__inner .header__menu-link {
    font-size: 1.25rem;
  }
}
@media (max-width: 1023px) {
  .header-fixed .header__inner .header__menu-right {
    order: 2;
  }
}
@media (max-width: 1023px) {
  .header-fixed .header__inner .header__menu-right-icons {
    border: none;
    padding: 0;
  }
}

/* Слой для блюра */
.header__overlay--blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(16px);
  z-index: 5;
  visibility: hidden;
  pointer-events: none;
}

.header__menu-item:hover ~ .header__overlay--blur {
  visibility: visible;
  pointer-events: auto;
}

.header-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  .header-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (max-width: 767px) {
  .header-content {
    display: block;
  }
}
.header-content__title-wrapper {
  grid-column: 1/7;
  margin: 32px 0;
  overflow: hidden;
}
@media (max-width: 425px) {
  .header-content__title-wrapper {
    margin: 32px 0 58px;
  }
}
@media (max-width: 375px) {
  .header-content__title-wrapper {
    margin: 21px 0 57px;
  }
}
.header-content__title {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  line-height: 1em;
  width: 400px;
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  font-family: "new-BebasNeue-Bold", sans-serif;
  margin-bottom: 24px;
}
@media (max-width: 1023px) {
  .header-content__title {
    font-size: 45px;
  }
}
@media (max-width: 425px) {
  .header-content__title {
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 0;
  }
}
@media (max-width: 375px) {
  .header-content__title {
    font-size: 2.813rem;
  }
}
.header-content__title-sub {
  color: hsla(0, 0%, 100%, 0.7);
  letter-spacing: 1.19px;
  font-style: normal;
  font-weight: var(--font-weight-light);
  font-family: "new-BebasNeue-Book", sans-serif;
  font-size: 38px;
  line-height: 53px;
}
@media (max-width: 1023px) {
  .header-content__title-sub {
    font-size: 2rem;
    max-width: 292px;
    font-weight: 300;
    line-height: 46px;
  }
}
@media (max-width: 375px) {
  .header-content__title-sub {
    font-size: 1.875rem;
    line-height: 38px;
  }
}
.header-content__title-team {
  color: #fff;
  font-weight: 300;
  line-height: 1.5em;
  width: 400px;
  font-family: sans-serif;
}
@media (max-width: 1023px) {
  .header-content__title-team {
    width: 292px;
  }
}
.header-content__buttons {
  grid-column: 8/13;
  grid-row: 1/3;
  justify-self: end;
  margin-bottom: 0;
  align-self: center;
  overflow: hidden;
  padding: 0 3px 0 4px;
  margin-top: -88px;
}
@media (max-width: 1023px) {
  .header-content__buttons {
    border: none;
    padding: 0;
    margin-top: 10px;
    align-self: auto;
  }
}
@media (max-width: 767px) {
  .header-content__buttons {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
@media (max-width: 425px) {
  .header-content__buttons {
    justify-self: baseline;
    margin-bottom: 50px;
  }
}
.header-content__button {
  margin-bottom: 16px;
}
.header-content__button-link {
  background: hsla(0, 0%, 100%, 0.1);
  border: 1px solid hsla(276, 5%, 80%, 0.1);
  height: 60px;
  width: 288px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: var(--color-white);
  padding: 14px 8px 10px 13px;
  font-size: 16px;
  text-transform: uppercase;
  transition: background 0.3s ease;
  border-radius: 8px;
}
@media (max-width: 1023px) {
  .header-content__button-link {
    border: none;
    padding: 0;
    width: auto;
    height: auto;
    background: transparent;
  }
}
@media (max-width: 425px) {
  .header-content__button-link {
    gap: 60px;
  }
}
.header-content__button-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  font-size: 1rem;
}
@media (max-width: 1023px) {
  .header-content__button-content {
    margin-right: 24px;
  }
}
@media (max-width: 375px) {
  .header-content__button-content {
    margin-right: 0;
  }
}
.header-content__button-content-text {
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-family: "new-BebasNeue-Bold", sans-serif;
  line-height: 1em;
  font-size: 1.19rem;
}
@media (max-width: 768px) {
  .header-content__button-content-text {
    font-size: 1.375rem;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .header-content__button-content-text {
    font-size: 1.375rem;
    line-height: 22px;
  }
}
@media (max-width: 425px) {
  .header-content__button-content-text {
    font-size: 1.5rem;
    line-height: 21px;
  }
}
@media (max-width: 375px) {
  .header-content__button-content-text {
    font-size: 1.188rem;
    line-height: 16px;
  }
}
.header-content__button-content-sub {
  font-family: sans-serif;
  font-size: 0.62rem;
  font-weight: 500;
  color: var(--color-title);
}
.header-content__button-icon {
  width: 12px;
  height: 12px;
  fill: var(--color-white);
}
.header-content__submit {
  grid-column: 1/7;
  margin-bottom: 88px;
}
.header-content__submit-button {
  color: var(--color-white);
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  transition: background 0.3s ease;
  text-transform: uppercase;
  cursor: pointer;
}
@media (hover: hover) {
  .header-content__submit-button:hover {
    background: var(--color-red-dark);
  }
}
@media (hover: none) {
  .header-content__submit-button:active {
    background: var(--color-red-dark);
  }
}
.header-content__submit-description {
  margin-top: 8px;
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 14px;
  font-weight: var(--font-weight-light);
}
.header-content__submit--btn {
  padding: 16px 24px;
  width: 300px;
  background-color: var(--color-red);
  border-radius: 8px;
  font-weight: var(--font-weight-bold);
  font-family: "new-BebasNeue-Bold", sans-serif;
  font-size: 23px;
  line-height: 1em;
  color: var(--color-white);
  border: none;
  margin-bottom: 16px;
}
@media (max-width: 1023px) {
  .header-content__submit--btn {
    max-width: 292px;
    line-height: 0.8em;
    margin-top: 6px;
  }
}
@media (max-width: 425px) {
  .header-content__submit--btn {
    max-width: 276px;
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .header-content__submit--btn {
    max-width: 224px;
    margin-bottom: 9px;
  }
}
.header-content__submit-text {
  font-family: sans-serif;
  font-weight: var(--font-weight-light);
  font-size: 14px;
  line-height: 1.5em;
  color: hsla(0, 0%, 100%, 0.8);
  display: block;
  max-width: 276px;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .header-content__submit-text {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .header-content__submit-text {
    font-size: 13px;
  }
}
@media (max-width: 375px) {
  .header-content__submit-text {
    font-size: 0.75rem;
    line-height: 1.5em;
    max-width: 249px;
  }
}

.button-hover {
  position: relative;
  z-index: 1;
}
.button-hover:hover {
  transform: scale(1.02) translateZ(0);
}
.button-hover:before {
  background: linear-gradient(270deg, #ca131a, #920b10);
  background: var(--gradient-red);
  border-radius: 8px;
  content: "";
  height: calc(100% + 1px);
  left: -1px;
  opacity: 0;
  position: absolute;
  top: -1px;
  transform: scale(0.8) translateZ(0);
  transition: all 0.15s ease-in-out;
  width: calc(100% + 1px);
  z-index: -1;
}
.button-hover:hover:before {
  opacity: 1;
  transform: scale(1.01) translateZ(0);
  padding: 15px 13px 11px;
}
@media (max-width: 320px) {
  .button-hover {
    background-color: transparent;
    transform: none;
  }
  .button-hover:hover, .button-hover:hover:before {
    transform: none;
    color: #ca131a;
    border: 1px solid #ca131a;
  }
  .button-hover:before {
    display: none;
  }
}

.header-footer {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 1rem;
  white-space: nowrap;
  align-items: center;
}
.header-footer__menu-list {
  font-family: sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: 0.8125rem;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}
.header-footer__menu-item {
  align-items: center;
  border-left: 1px solid hsla(0, 0%, 100%, 0.15);
  border-right: 1px solid hsla(0, 0%, 100%, 0.15);
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 4px 48px 32px;
  width: auto;
  transition: all 0.15s ease-in-out;
}
.header-footer__menu-item-icon {
  width: 18px;
  height: 18px;
}
.header-footer__menu-item span {
  margin-bottom: 10px;
}
.header-footer__menu-item--link {
  column-gap: 7px;
}
.header-footer__menu-item--link span {
  text-decoration: underline;
  margin-bottom: 10px;
}
@media (hover: hover) {
  .header-footer__menu-item--link:hover {
    transition: all 0.15s ease-in-out;
    color: var(--color-red);
  }
}
@media (hover: none) {
  .header-footer__menu-item--link:active {
    transition: all 0.15s ease-in-out;
    color: var(--color-red);
  }
}
.header-footer__menu-item--link:hover svg {
  transform: scale(1.1) translateZ(0);
}
.header-footer__menu-address-list {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 400;
  max-width: 289px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.header-footer__menu-address-item {
  line-height: 1.3em;
  margin-bottom: 8px;
  word-wrap: break-word; /* Обеспечивает перенос длинных слов */
  overflow-wrap: break-word; /* Дополнительное свойство для переноса текста */
  white-space: normal; /* Убедитесь, что текст переносится */
}
.header-footer__social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 32px 40px 32px;
  gap: 24px;
}
.header-footer__social-item {
  height: 32px;
  width: 32px;
  padding: 0;
}
.header-footer__social-item-icon {
  width: 32px;
  height: 32px;
}
@media (max-width: 767px) {
  .header-footer__social-item-icon {
    width: 28px;
    height: 28px;
  }
}
@media (hover: hover) {
  .header-footer__social-item-icon:hover {
    fill: var(--color-red);
    color: var(--color-red);
  }
}
@media (hover: none) {
  .header-footer__social-item-icon:active {
    fill: var(--color-red);
    color: var(--color-red);
  }
}
.header-footer__contact-list {
  display: flex;
  flex-direction: row;
  border-left: 1px solid hsla(0, 0%, 100%, 0.15);
  align-items: center;
  padding-bottom: 33px;
  padding-left: 32px;
  gap: 24px;
}
.header-footer__contact-icon {
  width: 32px;
  height: 32px;
}
@media (max-width: 767px) {
  .header-footer__contact-icon {
    width: 28px;
    height: 28px;
  }
}

/* Стили для каждой иконки */
.header-footer__social-item-icon {
  transition: fill 0.3s ease, stroke 0.3s ease; /* Добавление плавного перехода для цвета */
}

/* Стиль для изменения цвета иконки на красный при наведении */
.header-footer__social-item-icon:hover .icon-path-stroke {
  stroke: red !important; /* Изменение обводки иконки на красный */
}

.header-footer__social-item-icon:hover .icon-path-fill {
  fill: red !important; /* Изменение заливки на красный */
}

.mobile-overlay {
  position: fixed;
  margin: 0;
  padding: 0;
  border: none;
  background: radial-gradient(105% 90% at 50% 100%, rgba(70, 0, 0, 0.9) 0, rgba(9, 0, 0, 0.95) 100%);
  overflow-y: auto;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  flex-direction: column;
  animation: showDownTop 0.3s ease-out forwards;
  /* Оптимизация анимаций */
  will-change: transform, opacity;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__content {
  animation: none;
}
.mobile-overlay__header-inner {
  padding: 0 32px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.mobile-overlay__header-body {
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
  display: flex;
  justify-content: space-between;
  padding: 26px 0 22px;
  width: 100%;
}
.mobile-overlay__logo__image {
  width: 44px;
  height: 44px;
}
.mobile-overlay__cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  height: 24px;
  width: 24px;
  color: white;
}
.mobile-overlay__cross-button:hover {
  transform: scale(1.2) translateZ(0);
}
.mobile-overlay__cross-button:active {
  transform: scale(0.8) translateZ(0);
}
.mobile-overlay__body {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 64px);
  width: calc(100% - 64px);
}
.mobile-overlay__list {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 24px;
  padding-left: 0;
  padding-top: 40px;
}
.mobile-overlay__item {
  margin-bottom: 16px;
}
.mobile-overlay__link {
  color: #fff !important;
  display: flex;
  font-family: new-BebasNeue-Regular, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.mobile-overlay__link-icon {
  width: 20px;
  height: 20px;
}
.mobile-overlay__child {
  border-bottom: 1px dashed hsla(0, 0%, 100%, 0.15);
  margin-bottom: 16px;
  margin-top: 0;
  padding-bottom: 24p;
}
.mobile-overlay__child-list {
  border-bottom: 1px dashed hsla(0, 0%, 100%, 0.15);
  margin-bottom: 16px;
  margin-top: 0;
  padding-bottom: 24px;
  padding-left: 0;
}
.mobile-overlay__child-item:first-child {
  margin: 8px 0;
}
.mobile-overlay__child__link {
  color: #827a7a !important;
  display: flex;
  font-family: new-BebasNeue-Regular, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  justify-content: space-between;
  text-transform: uppercase;
  width: 100%;
}
.mobile-overlay__child__link-icon {
  width: 14px;
  height: 14px;
}

/* Класс для закрытия, когда анимация завершается */
.mobile-overlay.close {
  animation: hideDownTop 0.3s ease-in forwards;
}

/* Анимация для модального окна, когда текст появляется по очереди */
.visible-mobile .mobile-overlay__content {
  animation: listItemAppear 0.8s ease-in-out;
}

.mobile-overlay__item {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  transition: none;
}

.mobile-overlay__item {
  animation: listItemAppear 0.3s ease-in-out forwards;
  opacity: 0;
}

.mobile-overlay__item:nth-child(1) {
  animation-delay: 0s;
}

.mobile-overlay__item:nth-child(2) {
  animation-delay: 0.1s;
}

.mobile-overlay__item:nth-child(3) {
  animation-delay: 0.2s;
}

.mobile-overlay__item:nth-child(4) {
  animation-delay: 0.3s;
}

.mobile-overlay__item:nth-child(5) {
  animation-delay: 0.4s;
}

.mobile-overlay__item:nth-child(6) {
  animation-delay: 0.5s;
}

.mobile-overlay__item:nth-child(7) {
  animation-delay: 0.6s;
}

.mobile-overlay__item:nth-child(8) {
  animation-delay: 0.7s;
}

.mobile-overlay__item:nth-child(9) {
  animation-delay: 0.8s;
}

.mobile-overlay__item:nth-child(10) {
  animation-delay: 0.9s;
}

/*# sourceMappingURL=styles.css.map */
